<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- hibernate configuration and mapping -->
<hibernate-configuration>
    <session-factory>
        <mapping
            class="ojt.bookstore.app.persistence.entity.Book" />
        <mapping
            class="ojt.bookstore.app.persistence.entity.SellBook" />
        <mapping
            class="ojt.bookstore.app.persistence.entity.User" />
    </session-factory>
</hibernate-configuration>